body {
  font-family: Arial;
}

.hero {
  height: 250px;
  width: 100%;
  padding: 20px;
  background-color: #DA2525;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.left-direction {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 2px;
  border-radius: 10px;
}

.cardTop {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  background-color: #4056e5;
  text-align: center;
  width: 250px;
  word-spacing: 5px;
  }
  
.cardBottom {
  border-style:solid;
  border-width: 1px;
  padding: 10px;
  background-color: white;
  width: 250px;
  word-spacing: 5px;
}

